:root {
    --color: rgba(0,0,0,0.5);
    --margin: 10px 10px 10px 10px;
}

*{
    font-size: 20px;
    font-family: 'calibri';
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

body{
    background: linear-gradient(to left, orange, indigo);
    word-break: break-word;
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 550px;
    background-color: var(--color);
    margin: var(--margin);
    border-radius: 10px, 5px;
}

header {
    width: auto;
    text-align: center;
    margin: var(--margin);
    height: 50px;
    border-radius: 10px, 5px;
}

header p {
    background-color: var(--color);
    font-size: 24px;
    color: whitesmoke;
    font-weight: bold;
    height: 95%;
}

#piuDiDieci, #modelliMedici, #modelliGiuridici, #modelliEconomici, #modelliTecnologici, #modelliTuristici, #ricAmbito, #ricTitolo {
    display: none;
    font-size: 14px;
}

nav {
    margin-left: 10px;
    background: transparent;
    width: 20%;
    display: inline;    
}

nav p{
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    font-size: 18px;

}

nav li a {
    background-color: transparent;
    color: blue;
}

nav li a:visited {
    color: violet;
}

nav li a:hover{
    color: green;
    cursor: pointer;
    font-weight: bold;
}

section {
    width: 55%;
}

aside {
    width: 10%;
}

#query, #querytitolo, #queryambito, #cercaModuli {
    color: black;
}

footer {
    margin: var(--margin);
    background-color: var(--color);
    border-radius: 10px, 5px;
}

footer p, footer a {
    font-size: 14px;
}

select, option {
    color: black;
}

#inserisciRisultatiRicercaSemplice, #inserisciRisultatiRicercaAmbito{
    border-collapse: separate;
    border-spacing: 1em; 
}

@media screen and (max-width:578){
    *{
        font-size: 11px;
    }

    div {
        height: 400px;
        margin: 7px 7px 7px 7px;
        border-radius: 7px, 3px;
    }
    
    header {
        margin: 5px 5px 5px 5px;
        height: 40px;
        border-radius: 7px 3px;
    }
    
    header p {
        font-size: 22px;
        font-weight: bold;
        height: 95%;
    }
    
    nav {
        margin-left: 5px;
    }
    
    nav p{
        font-size: 14px;
    }
    
    footer {
        margin: 2px 2px 2px 2px;
        width: 95%;
        border-radius: 7px 3px;
    }
    footer p, footer a {
        font-size: 11px;
    }
}
   
@media screen and (max-width:720){
        *{
            font-size: 13px;
        }

        div {
            height: 300px;
            margin: 4px 4px 4px 4px;
            border-radius: 5px, 1px;
        }
        
        header {
            margin: 2px 2px 2px 2px;
            height: 30px;
        }
        
        header p {
            font-size: 18px;
        }
        
        nav {
            margin-left: 2px;
        }
        
        nav p{
            font-size: 16px;
        }
        
        footer {
            margin: 5px 5px 5px 5px;
            width: 95%;
        }

        footer p, footer a {
            font-size: 13px;
        }
    }
